<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />

  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/jquery.min.js" ></script>
  <script type="text/javascript" src="/javascripts/rfid.js"></script>
</head>

<body>
  <div id="container" class="select-disable dim">
    <input type="hidden" id="seeking_tnr" /> 
    <input type="hidden" id="seeking_title" />

    <div id="left-bar">
      <div class="logo"><img src="/images/logo.png" class="logo" /></div>
      <% if (session.history.length > 0) { %>
        <a href="/back">
          <button id="tilbake" class="square"><img src="/images/tilbake.png" id="tilbake-pil"/>TILBAKE</button>
        </a>

      <div id="avslutt-container">
        <a href="/">
          <button id="avslutt" class="square">
            <span>AVSLUTT <img src="/images/avslutt.png" id="avslutt-ikon" /></span>
          </button>
        </a>
      </div>
      <% } %>
    </div>

    <div id="header">
      <div id="header-text">
        <% if (path == "/review") { %>
          <p id="title"><%= book.title %></p>
          <p id="sub-title"><%= book.authors %></p>
        <% } else if (path == "/more") { %>
          <p id="title">Flere bøker av forfatteren</p>
          <p id="sub-title"><%= book.authors %></p>
        <% } else if (path == "/similar") { %>
          <p id="title">Lignende verk</p>
          <p id="sub-title">
            <span><%= book.title %>&nbsp;</span>
            <span style="font-weight:normal;"> av <%= book.authors %></span>
          </p>
        <% } %>
      </div>
    </div>

    <div id="contents">

    <%- body %>
 
    </div>
    <div id="vi-leter">
      <p>vi leter</p>

      <div id="avbryt">
        <button id="avbryt-knapp" class="top-button">Avbryt</button>
        <button id="retry-knapp" class="top-button">Prøv på nytt</button>
      </div>
    </div>

    <div id="overlay"></div>
  </div>
</body>
</html>
